<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="/answer" method="get" data-turbo="false" class="form-group">
        <label for="question" class="form-label">Your Question:</label>
        <input type="text" name="question" id="question" class="form-control mb-3">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
